@charset "UTF-8";
/* 共通部分 */
html {
  font-size: 1rem;
}

html body {
  font-family: sans-serif, "メイリオ", "Meiryo";
  line-height: 1.7;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

html body a {
  text-decoration: none;
  /*下線引かない*/
  display: block;
  /*ブロック要素に*/
}

html body img {
  max-width: 100%;
  /*画像がはみ出さないように*/
}

html body #top_img {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  /* 一番手前に */
}

html body #top_img .frontispiece {
  width: 100vw;
  height: 100vh;
}

html body #top_img .frontispiece_smf {
  display: block;
}

@media (min-width: 1025px) {
  html body #top_img .frontispiece_smf {
    display: none;
  }
}

html body #top_img .frontispiece_pc {
  display: none;
}

@media (min-width: 1025px) {
  html body #top_img .frontispiece_pc {
    display: block;
  }
}

html body #top_img .hexagon {
  width: 14vw;
  height: 12vw;
}

@media (min-width: 1025px) {
  html body #top_img .hexagon {
    width: 8vw;
    height: 6.7vw;
  }
}

html body #top_img .hexagon1w {
  position: fixed;
  top: 4vw;
  bottom: auto;
  right: auto;
  left: 8vw;
}

@media (min-width: 1025px) {
  html body #top_img .hexagon1w {
    position: fixed;
    top: 1.5vw;
    bottom: auto;
    right: auto;
    left: 6vw;
  }
}

html body #top_img .hexagon2w {
  position: fixed;
  top: 18vw;
  bottom: auto;
  right: auto;
  left: 8vw;
}

@media (min-width: 1025px) {
  html body #top_img .hexagon2w {
    position: fixed;
    top: 9vw;
    bottom: auto;
    right: auto;
    left: 6vw;
  }
}

html body #top_img .hexagon3w {
  position: fixed;
  top: 32vw;
  bottom: auto;
  right: auto;
  left: 8vw;
}

@media (min-width: 1025px) {
  html body #top_img .hexagon3w {
    position: fixed;
    top: 16.5vw;
    bottom: auto;
    right: auto;
    left: 6vw;
  }
}

html body #top_img .hexagon4w {
  position: fixed;
  top: 12.5vw;
  bottom: auto;
  right: auto;
  left: 23vw;
}

@media (min-width: 1025px) {
  html body #top_img .hexagon4w {
    position: fixed;
    top: 5.2vw;
    bottom: auto;
    right: auto;
    left: 13vw;
  }
}

html body #top_img .hexagon5w {
  position: fixed;
  top: 4vw;
  bottom: auto;
  left: 37.5vw;
  right: auto;
}

@media (min-width: 1025px) {
  html body #top_img .hexagon5w {
    position: fixed;
    top: 1.5vw;
    bottom: auto;
    right: 19vw;
    left: auto;
  }
}

html body #top_img .hexagon6w {
  position: fixed;
  top: auto;
  bottom: 26vw;
  right: 6vw;
  left: auto;
}

@media (min-width: 1025px) {
  html body #top_img .hexagon6w {
    position: fixed;
    top: auto;
    bottom: 13vw;
    right: 6vw;
    left: auto;
  }
}

html body #top_img .hexagon7w {
  position: fixed;
  top: auto;
  bottom: 12vw;
  right: 6vw;
  left: auto;
}

@media (min-width: 1025px) {
  html body #top_img .hexagon7w {
    position: fixed;
    top: auto;
    bottom: 5.5vw;
    right: 6vw;
    left: auto;
  }
}

html body #top_img .hexagon8w {
  position: fixed;
  top: auto;
  bottom: 5vw;
  right: 20vw;
  left: auto;
}

@media (min-width: 1025px) {
  html body #top_img .hexagon8w {
    position: fixed;
    top: auto;
    bottom: 1vw;
    right: 14vw;
    left: auto;
  }
}

html body #top_img .hexagon9w {
  position: fixed;
  top: auto;
  bottom: 12vw;
  right: 33vw;
  left: auto;
}

@media (min-width: 1025px) {
  html body #top_img .hexagon9w {
    position: fixed;
    top: 5.5vw;
    bottom: auto;
    right: 12.5vw;
    left: auto;
  }
}

html body #top_img .hexagon10w {
  position: fixed;
  top: auto;
  bottom: 5vw;
  right: 46vw;
  left: auto;
}

@media (min-width: 1025px) {
  html body #top_img .hexagon10w {
    position: fixed;
    top: 1.5vw;
    bottom: auto;
    right: 6vw;
    left: auto;
  }
}

html body .header {
  height: 10vw;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
}

@media (min-width: 1025px) {
  html body .header {
    height: 5vw;
  }
}

html body .header .header_left {
  height: 10vw;
}

@media (min-width: 1025px) {
  html body .header .header_left {
    height: 5vw;
  }
}

html body .header .header_right {
  display: flex;
}

html body .header .header_right .cart {
  height: 8vw;
}

@media (min-width: 1025px) {
  html body .header .header_right .cart {
    display: none;
  }
}

html body .header .header_right .cart_pc {
  display: none;
}

@media (min-width: 1025px) {
  html body .header .header_right .cart_pc {
    display: block;
    height: 4vw;
  }
}

html body main {
  width: 100vw;
  height: calc(100vh - 10vw);
  position: fixed;
  top: 10vw;
  left: 0;
  /*
      .btn {
        padding: 8px 24px;
        color: white;
        opacity: 0.8;
        border-radius: 4px;
        background-color: #f778b8;
        cursor: pointer;
        box-shadow: 0 5px #e04893;

        &:hover {
          opacity: 1;
        }

        &:active {
          position: relative;
          top: 7px;
          box-shadow: none;
        }
    
      } //btn
     へこむボタン*/
}

@media (min-width: 1025px) {
  html body main {
    height: calc(100vh - 5vw);
    top: 5vw;
  }
}

html body main .secList {
  width: 14vw;
  height: 12vw;
  z-index: 9000;
}

@media (min-width: 1025px) {
  html body main .secList {
    width: 8vw;
    height: 6.7vw;
  }
}

html body main .secList img {
  width: 14vw;
  height: 12vw;
}

@media (min-width: 1025px) {
  html body main .secList img {
    width: 8vw;
    height: 6.7vw;
  }
}

html body main .active {
  background-image: url(../image/hexagon11.png);
  background-repeat: no-repeat;
  background-size: 14vw 12vw;
  /*not conventional　アイコン*/
}

@media (min-width: 1025px) {
  html body main .active {
    background-size: 8vw 6.7vw;
    /*not conventional　アイコン*/
  }
}

html body main .active img {
  opacity: 0;
}

html body main .secList1 {
  position: fixed;
  top: 14vw;
  bottom: auto;
  right: auto;
  left: 8vw;
}

@media (min-width: 1025px) {
  html body main .secList1 {
    position: fixed;
    top: 8vw;
    bottom: auto;
    right: auto;
    left: 6vw;
  }
}

html body main .secList2 {
  position: fixed;
  top: 28vw;
  bottom: auto;
  right: auto;
  left: 8vw;
}

@media (min-width: 1025px) {
  html body main .secList2 {
    position: fixed;
    top: 15.5vw;
    bottom: auto;
    right: auto;
    left: 6vw;
  }
}

html body main .secList3 {
  position: fixed;
  top: 42vw;
  bottom: auto;
  right: auto;
  left: 8vw;
}

@media (min-width: 1025px) {
  html body main .secList3 {
    position: fixed;
    top: 23vw;
    bottom: auto;
    right: auto;
    left: 6vw;
  }
}

html body main .secList4 {
  position: fixed;
  top: 22.5vw;
  bottom: auto;
  right: auto;
  left: 23vw;
}

@media (min-width: 1025px) {
  html body main .secList4 {
    position: fixed;
    top: 11.7vw;
    bottom: auto;
    right: auto;
    left: 13vw;
  }
}

html body main .secList5 {
  position: fixed;
  top: 14vw;
  bottom: auto;
  left: 37.5vw;
  right: auto;
}

@media (min-width: 1025px) {
  html body main .secList5 {
    position: fixed;
    top: 8vw;
    bottom: auto;
    right: 19vw;
    left: auto;
  }
}

html body main .secList6 {
  position: fixed;
  top: auto;
  bottom: 28vw;
  right: 16vw;
  left: auto;
}

@media (min-width: 1025px) {
  html body main .secList6 {
    position: fixed;
    top: auto;
    bottom: 15.5vw;
    right: 6vw;
    left: auto;
  }
}

html body main .secList7 {
  position: fixed;
  top: auto;
  bottom: 14vw;
  right: 16vw;
  left: auto;
}

@media (min-width: 1025px) {
  html body main .secList7 {
    position: fixed;
    top: auto;
    bottom: 8vw;
    right: 6vw;
    left: auto;
  }
}

html body main .secList8 {
  position: fixed;
  top: auto;
  bottom: 5vw;
  right: 30vw;
  left: auto;
}

@media (min-width: 1025px) {
  html body main .secList8 {
    position: fixed;
    top: auto;
    bottom: 3.5vw;
    right: 13vw;
    left: auto;
  }
}

html body main .secList9 {
  position: fixed;
  top: auto;
  bottom: 12vw;
  right: 43vw;
  left: auto;
}

@media (min-width: 1025px) {
  html body main .secList9 {
    position: fixed;
    top: 12vw;
    bottom: auto;
    right: 12.5vw;
    left: auto;
  }
}

html body main .secList10 {
  position: fixed;
  top: auto;
  bottom: 5vw;
  right: 56vw;
  left: auto;
}

@media (min-width: 1025px) {
  html body main .secList10 {
    position: fixed;
    top: 8vw;
    bottom: auto;
    right: 6vw;
    left: auto;
  }
}

html body main .instagram {
  position: fixed;
  top: 10vw;
  right: 0;
  z-index: 98;
}

@media (min-width: 1025px) {
  html body main .instagram {
    top: 5vw;
  }
}

html body main .line {
  position: fixed;
  bottom: 5vw;
  right: 1vw;
  z-index: 98;
}

html body main .section {
  /* widthやheightの値は要カスタマイズ */
}

html body main .section .model-viewer {
  width: 100vw;
  height: calc(100vh - 10vw);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1025px) {
  html body main .section .model-viewer {
    height: calc(100vh - 5vw);
  }
}

html body main .section .model-viewer ​ .model-viewer-btn {
  position: absolute;
  right: 16px;
  bottom: 10px;
  height: 26px;
  font-weight: bold;
  line-height: 26px;
  color: white;
  background-color: #6b6868;
  border: none;
}

html body main .section .model1 {
  background-image: url(../image/bg1_smf.png);
}

@media (min-width: 1025px) {
  html body main .section .model1 {
    background-image: url(../image/bg1_pc.png);
  }
}
