@charset "UFT-8";

@mixin screen-smf {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin screen-tab {
  @media (min-width: 601px) and (max-width: 1024px) {
    @content;
  }
}
@mixin screen-pc {
  @media (min-width: 1025px) {
    @content;
  }
}

/* 共通部分 */
html {
  font-size: 1rem;
  body {
    font-family: sans-serif, "メイリオ", "Meiryo";
    line-height: 1.7;
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;

    a {
      text-decoration: none; /*下線引かない*/
      display: block; /*ブロック要素に*/
    }
    img {
      max-width: 100%; /*画像がはみ出さないように*/
    }

    header {
      width: 20vw;
      height: 100vh;
      background-image: url(../image/sidebar_smf.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      position: fixed;
      top: 0;
      left: 0;
      @include screen-pc {
        overflow: scroll;
        padding: 6vh 5.5vw 10vh 5.5vw;
        width: 30vw;
        background-image: url(../image/sidebar_pc.png);
        background-size: 100% 100vh;
        // background-attachment: fixed;
      }
      ul {
        padding-top: 0;
        width: 20vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @include screen-pc {
          width: 19vw;
          height: 150vh;
          justify-content: space-between;
        }
        li {
          .secList {
            padding: 0;
            width: 12vw;
            height: 12vw;
            @include screen-pc {
              width: 8vw;
              height: 8vw;
            }

            img {
              width: 12vw;
              height: 12vw;
              @include screen-pc {
                width: 8vw;
                height: 8vw;
              }
            }
          } //secList
          .active {
            opacity: 0.5;
          }
        } //li
      } //ul
      .black-list {
        position: fixed;
        top: 0;
        left: 0;
      }
    } //header

    main {
      width: 80vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 20vw;
      @include screen-pc {
        width: 70vw;
        left: 30vw;
      }
      .section {
        /* widthやheightの値は要カスタマイズ */
        .model-viewer {
          width: 85vw;
          height: 100vh;
          background-repeat: no-repeat;
          background-size: cover;
          @include screen-pc {
            width: 70vw;
          }
        }
        ​ .model-viewer-btn {
          position: absolute;
          right: 16px;
          bottom: 10px;
          height: 26px;
          font-weight: bold;
          line-height: 26px;
          color: white;
          background-color: #6b6868;
          border: none;
        }

        .model1 {
          background-image: url(../image/bg1_smf.png);
          @include screen-pc {
            background-image: url(../image/bg1_pc.png);
          }
        }
        .model2 {
          background-image: url(../image/bg2_smf.png);
          @include screen-pc {
            background-image: url(../image/bg2_pc.png);
          }
        }
        .model3 {
          background-image: url(../image/bg1_smf.png);
          @include screen-pc {
            background-image: url(../image/bg1_pc.png);
          }
        }
        .model4 {
          background-image: url(../image/bg2_smf.png);
          @include screen-pc {
            background-image: url(../image/bg2_pc.png);
          }
        }
        .model5 {
          background-image: url(../image/bg1_smf.png);
          @include screen-pc {
            background-image: url(../image/bg1_pc.png);
          }
        }
        .model6 {
          background-image: url(../image/bg2_smf.png);
          @include screen-pc {
            background-image: url(../image/bg2_pc.png);
          }
        }
        .model7 {
          background-image: url(../image/bg1_smf.png);
          @include screen-pc {
            background-image: url(../image/bg1_pc.png);
          }
        }
        .model8 {
          background-image: url(../image/bg2_smf.png);
          @include screen-pc {
            background-image: url(../image/bg2_pc.png);
          }
        }
        .model9 {
          background-image: url(../image/bg1_smf.png);
          @include screen-pc {
            background-image: url(../image/bg1_pc.png);
          }
        }
        .model10 {
          background-image: url(../image/bg2_smf.png);
          @include screen-pc {
            background-image: url(../image/bg2_pc.png);
          }
        }
      } //section

      /*
      .btn {
        padding: 8px 24px;
        color: white;
        opacity: 0.8;
        border-radius: 4px;
        background-color: #f778b8;
        cursor: pointer;
        box-shadow: 0 5px #e04893;

        &:hover {
          opacity: 1;
        }

        &:active {
          position: relative;
          top: 7px;
          box-shadow: none;
        }
    
      } //btn
      へこむボタン*/
    } //main
  } //body
} //html
